<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tecsoft</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="cdp.Login" />
    <mapping class="cdp.Pessoa" />
    <mapping class="cdp.Endereco" />
    <mapping class="cdp.Veiculos"/>
    <mapping class="cdp.Cep" />
    <mapping class="cdp.Juridico"/>
    <mapping class="cdp.Fisico" />
    <mapping class="cdp.Materiais" />
    <mapping class="cdp.Servico" />
    
  </session-factory>
</hibernate-configuration>
